.App{
  text-align: center;
  background-color:#D0EECE;
}

.navbar{
  background-color: #5BC453;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:10px;
}
.loginnav{
  text-align: right;
}

main{
  justify-content: center;
}

footer{
  padding: 10px;
  color: white;
  background-color: #5BC453;
}