.App{
  background-color:#D0EECE;
  background-size: cover; 
}
h1{
  text-align: center;
}

main{
  justify-content: center;
  min-height: 800px;
}

footer{
  padding: 10px;
  color: white;
  background-color: #343a40!important;
  text-align: center;
}

.loginnav{
  float: right;
}

.loginnav button{
  float: right;
}