.viewUser{
    display:flex;
    flex-wrap:wrap;
}

.stockPicks{
    align-items: center;
    width: 30%;
}

.stocklist{
    border: 2px solid green;
    border-radius: 10px;
    padding: auto;
    min-width: min-content;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.stocklist button{
    margin-left: 0;
    margin-right: 40px;
}


li{
    margin: 10px;
}

.viewChart1{
    width: 60%;
    margin-left: 5%;
}

#chart{
    background-color: white;
    border-radius: 10px;
    border: 2px solid green;
}

.aboveChart{
    display:flex;
    flex-wrap:wrap;
}

.sectTitle{
    width: 50%;
    margin-left: 25%
}

.selection{
    display:flex;
    flex-wrap:wrap;
    padding: auto;
    margin-bottom: 20px;
    width:15%
}
h5{
    margin-left: 10%;
}
.selection .custom-select{
    width: 100%;
    margin-left: 0;
}