/* .logback{
    background-image: url('../BULL.png');
    background-size: cover;
  } */
  
.form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.submit{
  background-color: #4CAF50;
}