.home{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.STONKS{
    width: auto;
    border: 2px solid black;
    border-radius: 5px;
    display:block;
}

.All{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.STINKS{
    width: auto;
    border: 2px solid black;
    border-radius: 5px;
}

.stocklist{
    display:block;
    vertical-align: left;
}

.Allusers{
    display: table;
    margin-left: auto;
    margin-right: auto;
    min-width: 700px;
}

.User{
    background-color:white;
    width: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding:3px;
    text-decoration: none;
    display: block;
    text-decoration: none !important
}

Link{
    text-decoration: none !important;
    color:white
}

ul{
    display: block;
}
.User ul{
    text-align:justify;
    /* text-align: left; */
    margin-left: 45px;
    /* text-align:center; */
    word-spacing:3em; 
}
.User a .gowth{
    margin-left: 30%;
}

li{
    font-size: 40px;
    display:inline-block;
    color:#343a40;
    vertical-align: left;
}

.stonk{
    color: black;
    display:block;
}

.rank{
    margin-left: 0;
    margin-right:100px;
    width: 30px;
}


.growth{
    float:right;
}
#Head{
    color:Black;
    font-weight: bold;
    margin-right: 10%;
}